html,
body {
  background: #100707;
  font-family: sans-serif;
  color: white;
}
a {
  color: #d41818;
}
a:hover {
  color: yellow;
}
canvas {
  height: 100%;
  cursor: cell;
  user-select: none;
  image-rendering: optimizeSpeed;
  /* image-rendering: pixelated; */
}
